/*________________Total_______________*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(234, 234, 236, 0.3);
    font-family: 'Roboto', Helvetica, sans-serif;
}

.my-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    position: relative;
    padding: 10px 0;
    margin: 10px 0 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #e4a565;
    max-width:1200px;
}
.img-logo {
    width: 20%;
    position: absolute;
    top: -28px;
    left: -62px;
}
.slogan {
    font-size: 1.3em;
    position: relative;
    left: -2px;
    top: 22px;
    color: #0a58ca;
    text-shadow: #555555;
}

.search-box {
    /*text-align: center;*/
    margin: 0 0 15px 0;
}
/*________________end_______________*/


/*________________Form_______________*/
.my-form {
    display: grid;
}

.form-elems {
    margin: 0 0 10px;
}

.my-input {        /* если кто использует ? отавить : заменть на .form-elems*/
    margin: 0 0 10px;
}
/*________________end_______________*/


/*________________Buttons in header_______________*/

.my-button {
    display: inline-block;
    border-radius: 8px;
    background-color: #e4a565;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 0.3em 1.3em 0.3em 1.5em;
    margin: 0 0 0 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.my-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.my-button span:before {
    content: '\00bb';
    position: absolute;
    opacity: 1;
    top: 0;
    left: -0.8em;
    transition: 0.5s;
}
.my-button:hover {
    background-color: #a85d1e;
}
.my-button:hover span {
    padding-right: 15px;
}

.my-button:hover span:before {
    opacity: 0;
    left: 4em;
}
/*________________end_______________*/



/*________________Drag & Drop_______________*/
.body {
    display: -webkit-flex;
    display: flex;
    max-width:1200px;
    /*margin:0 auto;*/
}

.container-drag {
    margin:0 auto;
    display: flex;
    padding: 0;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
}

.lists {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}

.lists .list-area {
    display: flex;
    flex-flow: column;
    flex: 1;
    text-align: center;
    text-align: -webkit-center;

    width: 100%;
    min-width: 250px;
    max-width: 400px;
    height: 100%;
    min-height: 150px;

    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 10px 0 0;
    padding: 8px;
    transition: all 0.2s linear;
}

#listArea3 {
    margin: 0;
}

.lists .list-area .list-item_draggable {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 15px 20px;
    text-align: center;
    margin: 4px 0;
}

.list-item_draggable {
}

.list-item_closer {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
/*________________end_______________*/


/* STYLES FOR VISIT CARD */

.card {
    margin-bottom: 20px;
    flex: 0 0 auto;
}

.card-body {
    text-align: left;
}

.card-body__body {
    display: none;
}

.body-card {
    display: flex;
    justify-content: space-between;
}

.body-card-title {
    font-weight: 700;
}

.btn-show-more,
.btn-group-dropdown {
    width: 100%;
}

.btn-container {
    padding: 10px 0;
}
.card-btn {
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
}

.header-close {
    outline: none;
    border: none;
    background: transparent;
    transition: transform .3s;
}
.header-close:focus {
    outline: none;
    border: none;
}

.header-close:hover {
    color: crimson;
    transform: scale(1.5);
}


.btn-group-dropdown,
.form-btn {
    /* margin-bottom: 15px;
    position: relative;
    outline: none;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2px;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133)); */
    width: 100%;
    position: relative;
    border-radius: 8px;
    background-color: #e4a565;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 0.3em 1.3em 0.3em 1.5em;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 15px;
}

.btn-group-dropdown:focus,
.form-btn:focus {
    outline: none;
    border: none;
}

.btn-group-dropdown:hover,
.form-btn:hover {
    background: #a85d1e;
}


ul {
    margin: 0;
    padding: 0;
}

.btn-dropdwn {
    display: none;
}


.delete,
.edit {
    border-radius: 8px;
    background-color: #e4a565;
    border: 1px solid transparent;
    color: #fff;
    transition: color .3s, background-color .3s;
}

.delete:hover,
.edit:hover {
    border: 1px solid #a85d1e;
    background-color: #fff;
    color: #a85d1e;
}

.btn-show-more {
    border-radius: 8px;
    background-color: #e4a565;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 0.3em 1.3em 0.3em 1.5em;
    transition: all 0.5s;
    cursor: pointer;
}

.btn-show-more:focus {
    outline: none;
    border: none;
}

.btn-show-more:hover {
    background: #a85d1e;
}

.show-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    left: 0;
    top: 41px;
}



.show {
    display: block;

}


/* END OF STYLES FOR VISIT CARD */

/**styles for Search**/

#search {
    display: flex;
    justify-content: center;
}

.search-form {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.search-input, .search-status, .search-priority, .search-button {
    margin-right: 25px;
    padding: 0 10px;
}
